{% extends 'base.html' %}
{% load static %}

{% load widget_tweaks %}
{% block menu %}
<li class="nav-item ">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
  </li>
<li class="nav-item ">
    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
  </li>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'measurement.css' %}">
<link rel="stylesheet" href="{% static 'signin.css' %}">

        <div class="container mx-auto">
            <div class="py-1 wrapper">
              <form method="post"  class="form-wrapper needs-validation "  enctype="multipart/form-data">
                  {% csrf_token %}
                <fieldset class="section is-active">
                  <h3>Sign in</h3>
                  {% render_field form.username placeholder="Username" %}
                  {% render_field form.password placeholder="Password" %}
                  <input class="submit button" type="submit" value="Sign in">
                  {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  {% endif %}
                </fieldset>
              </form>
            </div>
            </div>
{% endblock %}