{% extends 'base.html' %}
{% load static %}
{% block menu %}

<li class="nav-item ">
    <a class="nav-link" href="{% url 'nova_medicao' %}">New measurement</a>

  </li>

<li class="nav-item ">
  <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
</li>

{% endblock %}
{% block content %}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.js"></script>
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.css">
        <div class="container-fluid">
          <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">

                <ul class="nav flex-column">
                  {% if pk %}
                  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Valores recebidos</span>
                </h6>
                  <li class="nav-item">
                    <a class="nav-link" onclick="grafico({{ temp }}, 'Temeperature ºC')" href="#">
                      Temperatura <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link " onclick="grafico({{ hum }}, 'Relative humidity(%)')" href="#">
                        Umidade <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link " onclick="grafico({{ co }}, 'CO - Values (Parts per million)')" href="#">
                        Monóxido de carbono <span class="sr-only">(current)</span>
                        </a>
                   </li>
                   <li class="nav-item">
                        <a class="nav-link " onclick="grafico({{ co2 }}, 'CO2 - Values (Parts per million)')" href="#">
                        Dióxido de carbono <span class="sr-only">(current)</span>
                        </a>
                   </li>
                   <li class="nav-item">
                        <a class="nav-link " onclick="grafico({{ pm }}, 'μg/m3')" href="#">
                        Material Particulado<span class="sr-only">(current)</span>
                        </a>
                   </li>
                   {% endif %}
                   <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Outras Medições:</span>
                    </h6>
            {% for l in lists %}
            <li class="nav-item">
              <a class="nav-link  nav-sensores"  href="{% url 'get_context_data' l.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                {{ l.title }}   <span class="sr-only">(current)</span>
              </a>

            </li>
            {% endfor %}
                </ul>
              </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
              {% if pk %}
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard </h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                  </div>
                </div>
              </div>
              <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" style="display: block; height: 47em;"></canvas>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead class="text-center">
                    <tr>
                      <th>Informações</th>
                      <th>Quantidade de valores</th>
                      <th>Menor Valor</th>
                      <th>Maior Valor</th>
                      <th>Média</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr>
                      <td class="td-first">Temperatura</td>
                      <td class="values-tables text-center">{{ count }}</td>
                      <td class="values-tables text-center">{{ lowest_values.0 }}</td>
                      <td class="values-tables text-center">{{ higher_values.0 }}</td>
                      <td class="values-tables text-center">{{ avg_values.0 }}</td>
                    </tr>
                    <tr>
                        <td class="td-first">Umidade</td>
                        <td class="values-tables text-center">{{ count }}</td>
                        <td class="values-tables text-center">{{ lowest_values.1 }}</td>
                        <td class="values-tables text-center">{{ higher_values.1 }}</td>
                        <td class="values-tables text-center">{{ avg_values.1 }}</td>
                        </tr>
                    <tr>
                        <td class="td-first">Monoxido de carbono</td>
                        <td class="values-tables text-center">{{ count }}</td>
                        <td class="values-tables text-center">{{ lowest_values.2 }}</td>
                        <td class="values-tables text-center">{{ higher_values.2 }}</td>
                        <td class="values-tables text-center">{{ avg_values.2 }}</td>
                    </tr>
                    <tr>
                        <td class="td-first">Dioxidode carbono</td>
                       <td class="values-tables text-center">{{ count }}</td>
                       <td class="values-tables text-center">{{ lowest_values.3 }}</td>
                       <td class="values-tables text-center">{{ higher_values.3 }}</td>
                       <td class="values-tables text-center">{{ avg_values.3 }}</td>
                    </tr>
                    <tr>
                        <td class="td-first">Material Particuado</td>
                        <td class="values-tables text-center">{{ count }}</td>
                        <td class="values-tables text-center">{{ lowest_values.4 }}</td>
                        <td class="values-tables text-center">{{ higher_values.4 }}</td>
                        <td class="values-tables text-center">{{ avg_values.4 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              {% endif %}

            </main>
          </div>
        </div>

        <script src="{% static 'js/feather.min.js' %}"></script>
        <script>
          feather.replace()
        </script>

        <!-- Graphs -->
        <script src="{% static 'js/Chart.min.js' %}"></script>
        <script>
          var ctx = document.getElementById("myChart");
          grafico();

          function grafico(tipo, label) {
            if(tipo == undefined){
              tipo_grafico = {{ temp }};
              label = 'Temeperature ºC';
            }
            else{
              tipo_grafico = tipo;
            }


          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: {{ x }},
              datasets: [{
                data: tipo_grafico,
                lineTension: 0,
                backgroundColor: 'white',

                borderColor: '#3498db',
                borderWidth: 4,
                pointBackgroundColor: 'white'
              }]
            },
            options: {
                legend: {
                  display: false,
                },
                scales: {
                  yAxes: [{
                    scaleLabel: {
                      display: true,
                      labelString: label
                    }
                  }]
                }
            }

          });
        }

        //setInterval(function(){grafico(tipo_grafico)},1000);
        </script>
{% endblock %}