
{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block title %}Novo Valor{% endblock %}
{% block menu %}

<li class="nav-item ">
  <a class="nav-link" href="{% url 'get_context_data' %}">Voltar</a>
</li>

<li class="nav-item ">
  <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
</li>

{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'measurement.css' %}">

        <div class="container mx-auto">
            <div class="py-1 wrapper">
              <form method="post"  class="form-wrapper needs-validation "  enctype="multipart/form-data">
                  {% csrf_token %}
                <fieldset class="section is-active">
                  <h3>Create Measurer</h3>
                  {% render_field form.title class="form-control" %}
                  {% render_field form.description class="form-control" %}
                  <input class="submit button" type="submit" value="Create">
                  {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  {% endif %}
                </fieldset>
              </form>
            </div>
            </div>
{% endblock %}