{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block title %}Novo Valor{% endblock %}
{% block menu %}

<li class="nav-item ">
  <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>

<li class="nav-item ">
  <a class="nav-link" href="{% url 'login' %}">Sign in</a>
</li>

{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'measurement.css' %}">
<link rel="stylesheet" href="{% static 'signup.css' %}">

<div class="container mx-auto">
    <div class="py-1 wrapper">
      <form method="post"  class="form-wrapper needs-validation "  enctype="multipart/form-data">
          {% csrf_token %}
        <fieldset class="section is-active">
          <h3>Create Account</h3>
          {% render_field form.username placeholder="Username" %}
          {% render_field form.password1 placeholder="Password" %}
          {% render_field form.password2 placeholder="Confirm password" %}
          <input class="submit button" type="submit" value="Sign up">
          {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
          {% endif %}
        </fieldset>
      </form>
    </div>
    </div>
{% endblock %}